package pages

import (
	"github.com/willoma/recherche-maison/db"
	"github.com/willoma/recherche-maison/web/components"
)

// Detail is the house details page
templ Detail(house db.House, city db.City, urls []db.PublicationURL, photos []string, attachments []string, allHouses []db.House) {
	@components.Layout(house.Title, allHouses) {
		@components.MaisonDetail(house, city, urls, photos, attachments)
	}
}
