package pages

import (
	"github.com/willoma/recherche-maison/db"
	"github.com/willoma/recherche-maison/web/components"
)

// Index is the main page with a sortable table of houses
templ Index(houses []db.House, cities map[int64]db.City, allHouses []db.House) {
	@components.Layout("Résumé", allHouses) {
		<h1>Recherche Maison</h1>
		@components.MaisonList(houses, cities)
	}
}
