package pages

import (
	"github.com/willoma/recherche-maison/db"
	"github.com/willoma/recherche-maison/web/components"
)

// Villes is the city management page
templ Villes(cities []db.City, usedCities map[int64]bool, allHouses []db.House) {
	@components.Layout("Gestion des villes", allHouses) {
		@components.VilleForm(cities, usedCities)
	}
}
